<div id="container">

  <div>
    <strong style='color:white;'>{{ name }}</strong>
    <p>Web Developer</p>
    <p>Barcelona, Spain 📌 </p>
    <p>Wordpress. PHP. Web Technologies.</p>
  </div>

  <div>
    <h4><a style='color:white;' href='https://carlos-lopez-7e4.alwaysdata.net/me/carlos_lopez_en.pdf'>Click here to download my resume</a></h4>
    <a href='https://gitlab.com/clopez12'><ion-icon name="logo-gitlab"></ion-icon></a>
    <a href='https://www.linkedin.com/in/celopez12'><ion-icon name="logo-linkedin"></ion-icon></a>
  </div>  

</div>
