#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  transform: translateY(-35%);
  // transform: translateX(-0%);
}

#container strong {
  font-size: 40px;
  line-height: 100px;
}

#container p {
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-icon {
  font-size: 45px;
  padding: 20px;
  color: white;
}
ion-icon:hover {
  color: rgb(0, 183, 255);
}